.cart-container {
  display: flex;
  justify-content: center;
  min-height: 75vh;
}

@media screen and (min-width: 768px) {
  .cart-container {
    min-height: 90vh;
  }
}

.cart-content-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1110px;
}

@media screen and (min-width: 768px) {
  .cart-content-container {
    width: 80%;
    max-width: 1110px;
  }
}

.cart-heading {
  color: #3e4c59;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .cart-heading {
    font-size: 48px;
  }
}

/* Write your CSS here */
.remove-all-card {
  display: flex;
  justify-content: flex-end;
}
.remove-all-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #0b69ff;
  font-weight: 600;
}
.summary-card {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
.order-total-card {
  display: flex;
  align-items: center;
}
.order-total-text {
  color: #616e7c;
  font-weight: 500;
  margin: 0px;
  margin-right: 5px;
}
.total-amount {
  font-size: 20px;
  color: #171f46;
  margin: 0px;
}
.no-of-items-text {
  margin-top: 0px;
  color: #616e7c;
  font-size: 12px;
}
.checkout-btn {
  background-color: #0b69ff;
  border: none;
  padding: 10px;
  color: #ffffff;
  border-radius: 2px;
}
